<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .page-wrap {
            background-color: black;
            color: green;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            border: "20px solid blue";
            }

        .button {
            border-radius: 10%;
            background-color: green;
            color: black;
            text-decoration: none;
            width: 120px;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
    <script>

        var numTasks = 0;
        let tasks = []; //array of tasks to be filled

        window.addEventListener("DOMContentLoaded", () => {
    
            taskButton = document.getElementById("addTask");
            removeTask = document.getElementById("removeTask");
            taskParagraph = document.getElementById("taskParagraph");
            createButton = document.getElementById("create");
            
            taskButton.addEventListener("click", (event) => {
                numTasks++;
                event.preventDefault();
                let divNode = document.createElement("div");
                divNode.innerHTML = `
                <div id='task'>
                    <div>
                        <label for='title'>title: </label>
                        <input id="taskTitle${numTasks}" type='text' name="taskTitle${numTasks}" placeholder="add a title here">
                    </div>

                    <div>
                        <label for='description'>description: </label>
                        <input id="taskDescription${numTasks}" type='text' name="taskDescription${numTasks}" placeholder="add a description here">
                    </div>

                    <div>
                        <label for='deadline'>deadline: </label>
                        <input id="taskDeadline${numTasks}" type='date' name="taskDeadline${numTasks}">
                    </div>

                    <div>
                        <label for='completed'>Completed?</label>
                        <input type='checkbox' name="taskCompleted${numTasks}" id='completed' name="taskCompleted${numTasks}">
                    </div>
                </div>`
                taskParagraph.appendChild(divNode);
                document.getElementById("numtasks").value = numTasks; //update number of tasks
                //in a way that is accessible to other files
            });
    
            removeTask.addEventListener("click", (event) => {
                numTasks--;
                event.preventDefault();
                task = document.getElementById("task");
                task.parentNode.removeChild(task);
            });

            createButton.addEventListener("click", (event) => {
                console.log("Creating project...");

                for (let index = 1; index <= numTasks; index++) {
                    let taskTitle = document.getElementById(`taskTitle${index}`).value;
                    let taskDescription = document.getElementById(`taskDescription${index}`).value;
                    let taskDeadline = document.getElementById(`taskDeadline${index}`).value;
                    let taskCompleted = document.getElementById(`taskCompleted${index}`).value;

                    let currTask =  {
                        taskTitle,
                        taskDescription,
                        taskDeadline,
                        taskCompleted,
                    }
                    
                    tasks.push(currTask);
                }
            });
    
        });//end of onload function
    </script>
</head>
<body class="page-wrap">
    <form action="/viewProjects" method="POST">
        <fieldset>
            <legend>Create New Project</legend>
            <p>
                <label for="first">Title:</label>
                <input type="text" name="title" id="title" placeholder="add a title here">
            </p>

            <p>
                <label for="last">Description:</label>
                <input type="text" name="description" id="description" placeholder="add a description here">
            </p>
            <p>
                <label for="deadline">Deadline:</label>
                <input type="date" name="deadline" id="deadline">
            </p>
            <p>
                <label for="completed">Completed?</label>
                <input type="checkbox" name="completed" id="completed">
            </p>
            <p id="taskParagraph">
                <button class="button" id="addTask">Add task</button>
                <button class="button" id="removeTask">Remove task</button>
            </p>
            <input type="submit" id="create" class="button" value="Create">
        </fieldset>
        <input type="hidden" value="0" id="numtasks" name="numtasks">
    </form>
<div class="navigation">
    <button class="button"><a class="button" href="/viewProjects">All projects...</a></button>
    <button class="button"><a class="button" href="/logout">Log Out</a></button>
</div>
</body>
</html>