<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <style>
        .page-wrap {
            background-color: black;
            color: blue;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            border: "20px solid blue";
            }

        .button {
            border-radius: 10%;
            background-color: blue;
            color: black;
            text-decoration: none;
            width: 120px;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
    <body class="page-wrap">
        <h1>Project created successfully</h1>
        <table class="page-wrap">
            <caption>View all projects here...</caption>
            <tr>
                <th>title</th>
                <th>description</th>
                <th>deadline</th>
                <th>completed</th>
                <th>tasks</th>
            </tr>
            <% projectResults.forEach(function(response) { %>
            <tr>
                <td id="title">
                    <% response.title %>
                </td>
                <td id="description">
                    <% response.description %>
                </td>
                <td id="deadline">
                    <% response.deadline %>
                </td>
                <td id="completed">
                    <% response.completed %>
                </td>
                <td id="tasks">
                    <% response.tasks %>
                </td>
            </tr>
            <% }); %>
        </table>
    </body>
</html>